{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
<h1>CREATE</h1>
<form action="{% url 'movies:create' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% comment %} {% for field in form %}
    {% if field.errors %}
      <div class='alert alert-warning'>{{ error|escape }}</div>
    {% endif %}
    {{ field.label_tag}}
    {{ field}}
    {% endfor %} {% endcomment %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
  {% endbuttons %}

</form>
<hr>

<a class="btn btn-info" href="{% url 'movies:index' %}">BACK</a>
{% endblock content %}

